<main class="w-full pr-1 pl-1 mx-auto">
  <%= link_to sanitize("&larr; Back to quote"), quote_path(@quote) %>

  <%= turbo_frame_tag @quote, target: '_top' do %>
    <%= render partial: "quotes/edit_body" %>
  <% end %>
</main>
